body 
{
    background-image: url('images/whiteBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Navbar */
.navbar-nav > li
{
    padding-left:50px;
    padding-right:50px;
}

.nav-link
{
    font-size: 28px !important;
    font-weight: bold;
}

i{
    color: black;
    margin-right: 20px;
}

.main
{
    margin-top: 100px;
    margin-left:100px;
}

.navbar a:hover
{
    color: rgb(5, 74, 250);
}

.homeButton
{
    margin-left: 20px;
}

a .fas:hover
{
    cursor: pointer;
    transform: scale(1.5);
}

a{
    text-decoration: none !important;
}

a .fa-brands
{
    margin: 20px;
}

a .fa-brands:hover
{
    cursor: pointer;
    transform: scale(1.5);
}

.main
{
    margin-left: 200px;
    margin-top: 300px;
}

.name-heading
{
    margin-top: 100px;
    margin-bottom: 50px;
}

.small-heading-end
{
    margin-bottom: 50px;
}

.heading{
    text-decoration: underline;
}

/*-----------  Projects Page   --------  */

.projects h1
{
    margin-left: 13rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 50px;
}

.projects .project-objects
{
    margin: 5rem 13rem;
}


.project-box
{
    display: flex;
}

.projectExamples .github
{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.projectExamples i
{
    margin: 0 10px;
}

.projectDescriptions
{
    margin-left: 5rem;
    max-width: 800px;
    font-size: 20px;
}

.project-picture img
{
    border: 3px solid black;
    width: 300px;
    height: 300px;
}

/*
.project-picture video
{
    border: 3px solid black;
}
*/
/*-----------  Contact Page   --------  */
.contact h1
{
    margin-left: 150px;
    font-size: 50px;
}

.contact-info
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 20px;
    margin-left: 150px;
}

.contact-info h2
{
    margin-left: 0;
    color: rgb(0, 13, 255);
}

.contact .icons
{
    margin-top: 50px;
    margin-left: 150px;
}
